

header{
  position: relative;
  padding: 0 2rem;
}

.navbar{
  position: fixed;
  top: 0;
  left: -1rem;
  right: -1rem;
  z-index: 100;
  width: 90%;
  height: 4rem;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(15px);
  border-radius: 5px;
}


.navbar {
 font-size: 1.2rem;
 font-weight: bold;
}

.logo img{
  height: 25px;
  width: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .links{
  display: flex;
  gap: 1.5rem;
}

.socials{
  display: flex;
  gap: 1.5rem;
}

.socials i {
  font-size: 1.5rem;
}

.navbar .toggle_btn{
  font-size: 1.3rem;
  cursor: pointer;
  display: none;
}

.action_btn{
  position: relative;
  background-color: rgb(188, 212, 146);
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-family: wix madefor text, Roboto;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
  transition: scale 0.25s, font-weight 0.15s;
}

.action_btn:hover{
  scale: 1.05;
  background-color: rgb(188, 212, 146);
  color: rgb(42, 42, 42);
 font-size: 1.1rem;
}

.action_btn:active{
  scale: 1;
}

.links a{
  transition: scale 0.15s;
}

.links .nav-links{
  transition: font-size 0.15s;
}
.links a:hover {
  scale: 1.35;
}

.links .nav-links:hover{
  font-size: 1.25rem;
}
li {
  list-style: none;
  transition: scale 0.30s;
}

.logo:hover{
  scale: 1.05;
}


a {
  text-decoration: none;
  color: rgb(42, 42, 42);
  transition: color 0.15s;
  font-size: 1.2rem;
  font-weight: bold;
}

a:hover {
  color: gray;
}

.logo img{
  transition: scale 0.15s;
}

.logo img:hover{
  scale: 1.10;
}



/* dropdown menu */

.dropdown-menu{
  display: none;
  position: fixed;
  right: 2.5rem;
  top: 70px;
  width: 300px;
  height: 0;
  background-color: rgba(180, 179, 179, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.15s cubic-bezier(0.1, 0.1, 0.1, 0.1);
  z-index: 100;
}

.dropdown-menu.open{
  height: 290px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-menu li:nth-child(4){
  position: relative;
}
.dropdown-menu li:nth-child(4):before{
  content: "";
  border-top: 1px solid ;
  position: absolute;
  right: 15%;
  left: 15%;
  top: 4%;
  border-color: rgba(0, 0, 0, 0.3);
  filter: blur(0.8px);
}

.dropdown-menu .fa-brands{
  margin-right: 10px;
}

.dropdown-menu .action_btn{
  width: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.dropdown-menu .nav-links{
  transition: font-size 0.15s;
}

.dropdown-menu .nav-links:hover{
  font-size: 1.25rem;
}






/* responsive */

@media (max-width: 992px)
{
  .navbar .links,
  .navbar .action_btn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .toggle_btn{
    margin-right: 10px;
  }

  .dropdown-menu{
    display: block;
    margin-top: 10px;
  }

}

@media (max-width: 576px){
  .dropdown-menu{
    left: 2rem;
    width: unset;
  }

  .action_btn{
    margin-left: 10px;
  }
}


